<section class="product-information" data-section-id="product-template">
  <div class="product-description rte" data-block-id="description">
    {{ product.description }}
  </div>
  <div class="shipping-estimate" data-block-id="shipping">
    {{ section.settings.shipping_text }}
  </div>
</section>
