<section class="product-information" data-section-id="product-template">
  <h1 class="product-title" data-block-id="title">{{ product.title }}</h1>
  <div class="product-meta">
    <span class="vendor">{{ product.vendor }}</span>
  </div>
</section>
