<div class="product-form__buttons">
  {% render 'dawn-variant-picker', product: product %}
  <button type="submit" name="add" class="product-form__submit">
    <span>Add to cart</span>
  </button>
</div>
