<form action="/cart/add" method="post" id="MainProduct-form" class="product-form">
  <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
  <button type="submit" name="add" class="product-form__submit">
    <span>Add to cart</span>
  </button>
</form>
